:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(135deg, rgba(107, 33, 168, 0.7), rgba(181, 23, 158, 0.7), rgba(247, 37, 133, 0.7)), url('./assets/students.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h4 {
  font-size: calc(1.5rem + 1vw);
}

